@font-face {
  font-family: 'Courier';
  src: url("../fonts/courier/cour.ttf");
  src: url("../fonts/courier/cour.woff2") format("woff2");
  src: url("../fonts/courier/cour.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/roboto/roboto-light.ttf");
  src: url("../fonts/roboto/roboto-light.woff2") format("woff2");
  src: url("../fonts/roboto/roboto-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaReg';
  src: url("../fonts/helvetica/helveticaregular.ttf");
  src: url("../fonts/helvetica/helveticaregular.woff2") format("woff2");
  src: url("../fonts/helvetica/helveticaregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a, input, button {
  outline: none; }

.table-wrapper {
  padding: 40px;
  -webkit-box-shadow: 1px 1px 4px 2px #030303;
  box-shadow: 1px 1px 4px 2px #030303;
  background-color: #fff; }
  .table-wrapper table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff; }
    .table-wrapper table tr {
      border-top: 1px solid  #ccc;
      border-bottom: 1px solid  #ccc; }
    .table-wrapper table thead th {
      font-family: 'RobotoLight';
      font-size: 17px;
      padding: 10px 0; }
    .table-wrapper table tbody tr:hover {
      background-color: #f4f4f4; }
    .table-wrapper table tbody tr td {
      font-family: 'HelveticaReg';
      font-size: 14px;
      padding: 10px 0; }
      .table-wrapper table tbody tr td:first-child {
        font-weight: bold; }

.wrapper {
  min-height: 100%;
  position: relative; }

.app {
  padding-bottom: 100px; }

.main-content {
  padding: 0 5%;
  width: 1180px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -180px; }
  @media (max-width: 767px) {
    .main-content {
      width: 95%;
      padding: 0;
      margin-top: 0; } }

.bold {
  font-weight: bold; }

.slide-fade-enter-active {
  transition: all .3s ease; }

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-to {
  transform: perspective(500px) translate3d(0px, 20px, 30px);
  opacity: 0; }

.float-left {
  float: left;
  padding: 20px;
  padding-left: 0; }

.float-right {
  float: right;
  padding: 20px;
  padding-right: 0; }

@media (max-width: 767px) {
  .mobile-visible {
    display: block; }
  .adaptive-table {
    overflow-x: auto;
    box-shadow: none; }
  .without-float {
    float: none; } }

@media (min-width: 768px) {
  .laptop-hidden {
    display: none; } }

i {
  padding-right: 5px; }
  i.ion-arrow-down-a {
    color: red; }
  i.ion-arrow-up-a {
    color: green;
    margin-left: 5px; }

.header-wrapper {
  background-color: #f4f4f4; }

header {
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 200px; }
  @media (max-width: 767px) {
    header {
      width: 100%;
      padding-bottom: 0; } }

.header-top {
  padding: 20px 5%;
  margin: 0 -5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid  #e5e5e5; }
  @media (max-width: 767px) {
    .header-top {
      justify-content: center;
      margin: 0; } }

.header-top-right a {
  color: #5c5c5c;
  margin-right: 13px;
  text-decoration: none;
  opacity: 1; }
  .header-top-right a:hover {
    opacity: 0.8; }
  .header-top-right a span {
    font-family: "Courier";
    font-size: 11px; }

.header-top-right input[type=text] {
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  -webkit-box-shadow: 1px 2px 0 2px #ececec;
  box-shadow: 1px 2px 0 2px #ececec;
  margin-left: 21px;
  margin-right: 28px;
  height: 34px;
  width: 140px;
  font-size: 16px;
  font-family: "HelveticaReg"; }

.header-top-right input::-webkit-input-placeholder {
  font-family: "Courier";
  color: #9b9b9b;
  font-size: 12px; }

.header-top-right input::-moz-placeholder {
  font-family: "Courier";
  color: #9b9b9b;
  font-size: 12px; }

.header-top-right input:-moz-placeholder {
  font-family: "Courier";
  color: #9b9b9b;
  font-size: 12px; }

.header-top-right input:-ms-input-placeholder {
  font-family: "Courier";
  color: #9b9b9b;
  font-size: 12px; }

.header-logo {
  text-align: center; }
  @media (max-width: 767px) {
    .header-logo {
      margin-top: 0; }
      .header-logo img {
        width: 60%; } }

button.menu-btn {
  border: none;
  background-color: transparent; }

nav {
  text-align: center;
  padding: 30px 0; }
  nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      nav ul {
        flex-direction: column; } }
    nav ul li {
      margin-right: 30px; }
      nav ul li:last-child {
        margin-right: 0; }
      @media (max-width: 767px) {
        nav ul li {
          margin-right: 0; } }
      nav ul li a {
        font-family: "Courier";
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 50px;
        color: #000; }
        nav ul li a:last-child {
          margin-right: 0; }

.slide-transition {
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }

.slide-leave, .slide-enter {
  right: -100%; }

.tags-search {
  text-align: center; }
  .tags-search a {
    color: #6e6e6e;
    text-decoration: none;
    text-transform: lowercase; }
    .tags-search a:hover {
      color: #012265; }
    .tags-search a:before {
      content: '#';
      display: inline-block;
      margin-left: 29px; }

footer {
  position: absolute;
  height: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-family: "Courier";
  font-weight: 900;
  width: 1180px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    footer {
      width: 100%; } }
  footer p:nth-of-type(1) {
    font-size: 14px;
    margin-bottom: 0; }
  footer p:nth-of-type(2) {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 5px; }
  footer a {
    text-decoration: none;
    color: #000;
    margin-right: 5px; }
    footer a:last-child {
      margin-right: 0;
      opacity: 1; }
    footer a:hover {
      opacity: 0.4; }
