// Standart

html, body
  height: 100%

body
  $font-text-color: #000

ul
  list-style: none
  padding: 0
  margin: 0

a, input, button
  outline: none

.table-wrapper
  padding: 40px
  -webkit-box-shadow: 1px 1px 4px 2px #030303;
  box-shadow: 1px 1px 4px 2px #030303;
  background-color: #fff
  table
    text-align: center
    width: 70%
    margin: 0 auto
    border-collapse: collapse
    background-color: #fff
    tr
      border-top: 1px solid  #ccc
      border-bottom: 1px solid  #ccc
    thead
      th
        font-family: 'RobotoLight'
        font-size: 17px
        padding: 10px 0
    tbody
      tr
        &:hover
          background-color: $light-grey
        td
          font-family: 'HelveticaReg'
          font-size: 14px
          padding: 10px 0
          &:first-child
            font-weight: bold

.wrapper
  min-height: 100%
  position: relative

.app
  padding-bottom: 100px

.main-content
  padding: 0 5%
  width: 1180px
  margin: 0 auto
  margin-bottom: 50px
  margin-top: -180px
  @media (#{$max_ipad})
    width: 95%
    padding: 0
    margin-top: 0


// Common classes
.bold
  font-weight: bold

.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: perspective(500px) translate3d(0px,20px,30px)
  opacity: 0

.float-left
  float: left
  padding: 20px
  padding-left: 0
.float-right
  float: right
  padding: 20px
  padding-right: 0


// Adaptive
@media (#{$max_ipad})
  .mobile-visible
    display: block

  .adaptive-table
    overflow-x: auto
    box-shadow: none

  .without-float
    float: none

@media (#{$min_ipad})
  .laptop-hidden
    display: none


// Icons
i
  padding-right: 5px
  &.ion-arrow-down-a
    color: red
  &.ion-arrow-up-a
    color: green
    margin-left: 5px